#oligrapher.embedded {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

#embeddedNavBar {
    height: 30px;
}

#annotationsTracker {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.tracker-circle {
    margin-right: 2px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    width: 12px;
    height: 12px; 
}

.btn-annotation-next {
    margin-left: 5px;
}

.tracker-circle-selected {
  background-color: #008;
}
