{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": "readonly",
    "shallow": "readonly",
    "sinon": "readonly",
    "mount": "readonly",
    "merge": "readonly"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:mocha/recommended"
  ],
  "plugins": [
    "mocha"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16.10"
    }
  },
  "rules": {
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "never"],
    "react/prop-types": [ 2, { ignore: ['dispatch'] }]
  }
}
