/*
  Oligrapher uses IDs for components that have only one.
  Otherwise classes are used.

  SCSS nesting is used here, even when not necessary,
  to help us nativated understand which elements are nested.
*/

#oligrapher {}

/*
   This is our outermost div.

   It's a flex container with two children: #oligrapher-header and #oligrapher-graph
*/
#oligrapher-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#oligrapher-header {
    background-color: lightblue;
    height: 200px;
}

#oligrapher-header-left-wrapper {
    #oligrapher-header-title-wrapper {}
    #oligrapher-header-attributions-wrapper {
        #oligrapher-header-attribution-user {}
        #oligrapher-header-attribution-date {}
    }
}

#oligrapher-header-right-wrapper {
    #oligrapher-header-menu-wrapper {
        ul {
            li {
                a {}
            }
        }
    }
}

#oligrapher-graph {
    background-color: lightgoldenrodyellow;
    height: 400px;
    width: 100%;
}
