@use "sass:color";

$oligrapher_blue: #0c7fff;
$oligrapher_blue_dark: #3B0AFF;
$font_color: black;
$link_color: $oligrapher_blue;
$button_bg_color: #2c63c8;
$button_font_color: white;
$header_menu_item_color: $font_color;
$header_menu_item_color_hover: $link_color;
$header_spacing_between_header: 10px;
$header_bottom_border_color: #6e89a1;
$header_save_button_bg_color: $button_bg_color;
$header_save_button_font_color: $button_font_color;
$header_discard_button_bg_color: #6e89a1;
$header_discard_button_font_color: white;

$oligrapher_dark_gray: #888;
$oligrapher_gray: #b3b3b3;
$oligrapher_font_gray: #b3b3b3;

$delete_red: #c82c63;
$toolbox_width: 250px;

$caption_backgound: lightgreen;
$caption_backgound_focused: lightcoral;

$node_highlight_color: $oligrapher_blue;
$edge_highlight_color: $oligrapher_blue;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('https://littlesis.org/static/fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
       url('https://littlesis.org/static/fonts/open-sans-v34-latin-regular.woff') format('woff'),
       url('https://littlesis.org/static/fonts/open-sans-v34-latin-regular.ttf') format('truetype');
}

%box_shadow {
  -webkit-box-shadow: 0px 0px 20px 2px #eee;
  -moz-box-shadow: 0px 0px 20px 2p #eee;
  box-shadow: 0px 0px 20px 2px rgba(128, 128, 128, 0.3);
}

%editor_label {
  margin-bottom: 0.25em;
  color: $oligrapher_dark_gray;
  font-size: 14px;
  font-weight: bold;
}

%editor_input {
  font-size: 14px;
  line-height: 1em;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

%toolbox_header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.5em;

  button {
    float: right;
    border: none;
    margin-left: 0.5em;
    margin-top: 0;
    background-color: #FFF;
    padding: 0;
  }
}

%message {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: white;
  @extend %box_shadow;
}

%floating_editor_box {
    width: 235px;
    min-height: 300px;
    max-height: 450px;
    padding: 0.5em;
    box-sizing: border-box;
}


html, body, div#oligrapher {
  height: 100%;
}

body {
  margin: 0;
}

/*
   This is our outermost div.
   It's a flex container with two children: #oligrapher-header and #oligrapher-graph
*/
#oligrapher-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;

  button, a:hover {
    cursor: pointer;
  }

  a {
    color: $link_color;
  }
}

#oligrapher-container #oligrapher-header, #oligrapher-container #oligrapher-header-condensed {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 30px);
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;


  &.oligrapher-header-expanded {
    /* min-height: 142px; */
    /* height: 142px; */
  }

  &.oligrapher-header-collapsed {
    min-height: 52px;

    #oligrapher-header-top {
      display: flex;
      flex-direction: row;
    }

    h1#oligrapher-title {
      margin-top: 7px;
      margin-bottom: 0;
      font-size: 30px;
      line-height: 40px;
      height: 30px;
    }
  }

  /* title and subtitle*/
  h1 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;

    input {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 42px;
      height: 48px;
      margin-left: -4px;
      max-width: 800px;
      width: 100%;
      border: 1px solid #ccc;
    }

    a {
      color: black;
      text-decoration: none;
      font-weight: normal;
    }
  }

  #oligrapher-header-subtitle-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    padding-top: 0px;
    padding-bottom: 10px;

    input {
      width: 100%;
      height: 24px;
      box-sizing: border-box;
      font-size: 18px;
      line-height: 24px;
      margin-left: -4px;
      border: 1px solid #ccc;
    }
  }

  #oligrapher-header-toggler {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    text-align: center;
    width: 20px;
    height: 14px;
    font-size: 13px;
    line-height: 12px;
    border: 1px solid #ccc;
    border-bottom: 0;
    cursor: pointer;
  }

  #oligrapher-header-bottom {
    display: flex;
    flex-direction: row;

    margin-bottom: 8px;

    &:not(.editing) {
      margin-bottom: 0.5em;
    }

    #oligrapher-header-left-wrapper {
      flex-grow: 2;
      flex-shrink: 2;
      padding-right: 1.5em;

      #oligrapher-attribution {
        font-size: 0.9em;
        line-height: 1.2em;

        a {
          color: $link_color;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    #oligrapher-header-right-wrapper {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 0.5em;
      margin-left: auto; /* This pushes the flex item to the right */
      align-self: flex-end;

      button {
        margin-right: 5px;
      }

      .oligrapher-header-actions, .oligrapher-header-edit-actions  {
        .oligrapher-header-edit-actions-lock {
          margin-right: 0.5em;
          color: $oligrapher_dark_gray;
        }

        .header-action-menu-wrapper {
          display: inline-block;
        }

        #toggle-action-menu:focus {
          outline: none;
        }
      }
    }
  }
}

#oligrapher-container .MuiGrid-container {
  flex: 1 2 auto;
  // overflow: hidden;
}

#oligrapher-container #oligrapher-graph-container {
  flex: 1 2 auto;
  overflow: hidden;
  position: relative;

  #oligrapher-graph-svg {
    z-index: 1;
    height: 95%;
  }

  .oligrapher-graph-editor {
    position: absolute;
    top: 0;
    left: 15px;

    z-index: 10;
    width: 100%;
    pointer-events: none;
    line-height: 1.2em;
  }

  .text-tool {
    cursor: text;
  }

  #oligrapher-zoomcontrol {
    div {
      z-index: 1;
      position: absolute;
        display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      @extend %box_shadow;
      right: 15px;
    }

    #oligrapher-zoom-buttons {
      top: 1em;
    }

    #oligrapher-zoom-reset-button {
      top: 5.5em;
    }

    button {
      padding: 8px;
      border: 0;
      background-color: white;
      height: 30px;
      width: 30px;
      border-bottom: 1px solid #eee;
      line-height: 1em;
      font-size: 1em;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }

      &::-moz-focus-inner {
        border-style: none;
      }

      svg {
        height: 14px;
        width: 14px;
        vertical-align: baseline;
      }
    }
  }
}

/* EDITOR */
#oligrapher-container .oligrapher-graph-editor .editor-menu {
  z-index: 100;
  border: 1px solid #ccc;
  background-color: white;
  margin-top: 1em;
  float: left;
  width: 40px;
  padding: 10px;
  box-sizing: content-box;
  @extend %box_shadow;

  .editor-menu-item {
    pointer-events: auto;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    color: gray;

    svg {
      width: 30px;
      height: 30px;
      vertical-align: baseline;
    }

    &.editor-menu-item-disabled {
      color: #ccc;

      &:hover {
        cursor: not-allowed;
      }
    }

    &.editor-menu-item-in-use {
      color: $oligrapher_blue;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #oligrapher-undo-redo {
    pointer-events: auto;
    float: left;
    width: 40px;

    button {
      background-color: white;
      border: 0px;
      float: left;
      width: 20px;
      box-sizing: border-box;
      padding: 2px;
      height: 20px;
      color: gray;

      &:disabled {
        color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}

#oligrapher-container .oligrapher-graph-editor .oligrapher-toolbox {
  margin-top: 1em;
  margin-left: 1em;
  position: absolute;
  top: 0;
  left: 60px;
  pointer-events: auto;
  border: 3px solid $oligrapher_blue;
  padding: 10px;
  width: $toolbox_width;
  background-color: white;
  @extend %box_shadow;

  header {
    @extend %toolbox_header;
  }

  .node-tool {
    font-size: 14px;

    input {
      display: block;
      margin-bottom: 10px;
      @extend %editor_input;
    }

    a {
      cursor: pointer;
      color: $oligrapher_blue;
      font-weight: bold;
    }

    hr {
      border: 0;
      height: 1px;
      background: $oligrapher_font_gray;
      margin: 5px;
    }
  }
}

#oligrapher-container .entity-search-result {
  font-size: 15px;
  margin-top: 10px;

  a {
    cursor: pointer;
    color: $oligrapher_blue;
    font-weight: bold;
    font-size: 1.1em;
  }

  .entity-search-description {
    font-size: 0.8em;
    color: $oligrapher_dark_gray;
    line-height: 1.2em;
  }

  a.entity-external-link {
    margin-left: 5px;
    font-size: 0.8em;
    font-weight: normal;
    color: $oligrapher_dark_gray;
    line-height: 1.1em;
    position: relative;
    top: -2px;
  }
}

/* COMMON NODE EDITING */

#oligrapher-container .oligrapher-graph-editor, #oligrapher-container .oligrapher-floating-editor {
  > div {
    @extend %box_shadow;
  }

  .editor-page-buttons {
    padding-bottom: 0;

    label {
      @extend %editor_label;
      margin-bottom: 0;
    }

    div {
      margin-top: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      span {
        flex-grow: 1;

        svg {
          cursor: pointer;
          display: block;
          margin: auto;
          height: 20px;
          width: 20px;
        }

        &:not(:last-child) {
          border-right: 1px gray solid;
        }
      }
    }
  }

  .sizepicker {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 10px;
    text-align: center;

    .circle-wrapper {
      height: 50px;
      position: relative;
      margin-bottom: 0.5em;
    }

    .circle {
      background-color: #ccc;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      cursor: pointer;

      &:hover {
        border: 1px solid #ffff00;
      }
    }

    .current {
      border: 2px solid $oligrapher_blue;
    }

    > div {
      margin-right: 1em;
    }
  }

  div.sketch-picker {
    box-shadow: none !important;
    padding: 8px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    >div:nth-child(1) {
      height: 75px;
      padding-bottom: 0 !important;
    }

    input {
      box-sizing: content-box;
    }
  }

  div.editor-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      border: 0;
      border-radius: 2px;
      height: 2em;
      color: white;
    }

    button[name="delete"] {
      background-color: $delete_red;

      &:hover {
        background-color: color.scale($delete_red, $lightness: 30%);
      }
    }

    button[name="back"] {
      background-color: $oligrapher_dark_gray;
    }
  }
}

/* FLOATING EDITORS */

#oligrapher-container .oligrapher-floating-editor {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border: 3px solid $oligrapher_blue;
  line-height: 1em;

  header.editor-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;

    div {
      display: inline-block;
      cursor: grab;
    }

    button {
      float: right;
      margin-left: 10px;
      padding: 0;
      border: none;
      background-color: #FFF;
    }
  }

  main {
    margin-top: 0.5em;

    label {
      @extend %editor_label;
    }
  }

  footer {
  }

  form {
    label {
      @extend %editor_label;
      display: block;
      margin-bottom: 3px;
      margin-top: 5px;
    }

    input {
        @extend %editor_input;
    }
  }

  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid;
  }
} /* end: .oligrapher-floating-editor */

#oligrapher-container div.oligrapher-node-editor {
    @extend %floating_editor_box;

    a.add-connections-link {
        display: block;
        font-size: 16px;
        color: $oligrapher_blue;
        font-weight: bold;
        margin-top: 10px;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .node-littlesis-link {
        float: left;

        svg {
            height: 20px;
            width: 20px;
        }
    }
}

/* add connections tool */
#oligrapher-container div.oligrapher-add-connections {
    @extend %floating_editor_box;

  .add-connections-category {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .entity-search-results {
    max-height: 325px;
    overflow-y: scroll;
  }
}


#oligrapher-container div.oligrapher-edge-editor {
  width: 325px;
  max-height: 800px;
  padding: 10px;
  box-sizing: border-box;

  form input {
      width: 92%;
  }


  .edit-edge-style {
    width: 100%;
    padding-top: 10px;

    div {
      display: inline-block;
    }

    small {
      font-size: 10px;
    }

    .edge-style-buttons {
      position: relative;
      top: -5px;
      padding-left: 8px;
      padding-right: 8px;
      color: #888;
    }

    .edge-style-button {
      font-size: 0.8em;
      background-color: #fff;
      color: #000;
      border: 1px solid #ccc;
      text-align: center;
      padding: 0px;
      padding-top: 1px;
      width: 35px;
      font-size: 1.3em;
      line-height: 1em;
    }
  }

  .node-label {
    font-size: 0.6em;
  }

  .edit-edge-scale {
    input {
      margin: 0;
      width: 35px;
    }

    input[type='range'] {
      position: relative;
      top: 8px;
      width: 100px;
      outline: none;
    }
  }
}

#oligrapher-container div.oligrapher-caption-editor {
  width: 230px;
  height: 175px;
  padding: 10px;
  box-sizing: border-box;

  select {
    margin-top: 5px;
    margin-right: 5px;
    background-color: white;
    font-size: 0.8em;
    border: 1px solid $oligrapher_gray;
  }
}

#oligrapher-container .oligrapher-graph-editor .oligrapher-style-nodes {
  margin-top: 0.5em;

  label {
    @extend %editor_label;
    display: block;
  }

  input[type="url"] {
    width: 100%;
    @extend %editor_input;
  }

  main {
    height: 230px;
  }

  div.editor-page-buttons {
    padding-bottom: 0;
  }

  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  footer {
    margin-top: 1em;
  }

  .oligrapher-style-nodes-count {
    font-style: italic;
    display: inline-block;
    margin-left: 1em;
  }
}

#oligrapher-container .oligrapher-graph-editor .oligrapher-interlocks {
  font-size: 14px;
  line-height: 1.2em;
}

#oligrapher-container .oligrapher-graph-editor .oligrapher-settings {
  width: 225px;

  div.settings-option  {
    font-size: 0.8em;
    display: flex;

    div.settings-option-name {
      flex-grow: 4;
    }
  }

  label {
    color: $oligrapher_font_gray;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
  }
}

#oligrapher-container .oligrapher-graph-editor .organize-map {
  margin-top: 10px;

  table {
    border-collapse: separate;
    border-spacing: 10px;

    td {
      vertical-align: top;
      font-size: 0.9em;
      line-height: 1.1em;
    }
  }

  a {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 42px;
    width: 42px;
    padding: 5px;
    box-sizing: border-box;

    &:hover {
      background-color: #eee;
    }
  }

  svg {
    height: 30px;
    width: 30px;
    color: gray;
  }
}


#oligrapher-container div.oligrapher-editors {
  font-size: 14px;

  div.oligrapher-editors-input {
    margin-top: 10px;
    margin-bottom: 10px;

    input {
      width: 150px;
      line-height: 1em;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 5px;
      box-sizing: border-box;
    }

    button {
      width: 40px;
      height: 28px;
      padding: 0;
      box-sizing: border-box;
      border: 0;
      border-radius: 3px;
      background-color: $oligrapher_blue;
      color: white;
    }
  }

  div.oligrapher-editors-list {
    span {
      color: gray;
      font-size: 0.8em;
    }
  }
}

#oligrapher-help {
  width: 500px;
  height: 500px;
  padding: 2em;
  position: absolute;
  right: 2em;
  top: 1em;
  pointer-events: auto;

  header {
    @extend %toolbox_header;
  }
}

div.lock {
  z-index: 20;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25em;
  background-color: white;
  border: 2px solid $oligrapher_blue;
  padding: 10px;
}


/* NODES */

#oligrapher-container .oligrapher-graph-dragging-node {
  cursor: grabbing;
}

#oligrapher-container #oligrapher-graph-container .oligrapher-node {
  pointer-events: auto;

  // we have to disable pointer-events for the dragged node in order for
  // a dragged-over node to detect a hover event, which we use to notify
  // the user of possible edge creation. but as a consequence the "grabbing"
  // cursor will not work because it depends on pointer events.
  &.react-draggable-dragging {
    cursor: grabbing;
    pointer-events: none;
  }

  a:focus {
    outline: none;
  }

  .node-label text {
    // font-family: 'Helvetica Neue Medium', Helvetica, sans-serif;
    color: black;
  }

  .node-label a:focus {
    outline: none;
  }

  a:hover {
    text-decoration: none;
  }

  .node-halo {
    &.node-halo-selected {
      fill: $oligrapher_blue;
    }

    &.node-halo-highlighted {
      fill: #ffff00;
    }

    &.node-halo-selected.node-halo-highlighted {
      stroke: $oligrapher_blue;
      stroke-width: 2;
    }

    &.node-halo-dragged {
      fill: $oligrapher_blue_dark;
    }

  }
}

/* EDGES */

#oligrapher-container #oligrapher-graph-container .oligrapher-edge {
  a:hover {
    text-decoration: none;
  }

  a:focus {
    outline: none;
  }
}


/* captions */

#oligrapher-container #oligrapher-graph-container .oligrapher-caption {
  foreignObject, textarea, div {
    box-sizing: border-box;
    line-height: 1.2em;
  }

  .caption-text {
    border: 1px solid rgba(0, 0, 0, 0);

    &.editing:hover {
      border: 1px solid $oligrapher_blue;
    }
  }

  .edit-caption-textarea {
    resize: both;
    border: 1px solid $oligrapher_blue;
    overflow: hidden;
  }

  .edit-caption-textarea::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  .caption-text, .edit-caption-textarea {
    margin: 0;
    box-sizing: border-box;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0);
  }

  .caption-text.caption-text-highlighted {
    text-shadow: 0 0 5px #ffff00, 0 0 5px #ffff00, 0 0 5px #ffff00, 0 0 5px #ffff00, 0 0 5px #ffff00, 0 0 5px #ffff00;
  }

  .caption-text.caption-text-faded {
    color: #ddd;
  }
}

/* user message */

#oligrapher-container .oligrapher-user-message {
  position: absolute;
  right: 80px;
  top: 20px;
  max-width: 300px;
  @extend %message;
}

/* ANNOTATIONS */

#oligrapher-container #oligrapher-annotations-condensed {
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 0;

  .oligrapher-annotation {
    overflow-y: scroll;
    background-color: white;
    height: calc(100% - 40px);
  }

  .oligrapher-annotation-header {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .oligrapher-annotation-text {
    font-size: 1em;
    line-height: 1.4em;

    p {
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #oligrapher-annotations-tracker .tracker-circle {
    height: 15px;
    width: 15px;
  }
}

#oligrapher-container #oligrapher-condensed-annotations-toggler {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

#oligrapher-container #oligrapher-annotations-tracker {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1em;
  position: relative;
  top: 5px;

  .tracker-circle {
    display: inline-block;
    margin-left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #ccc;
    cursor: pointer;
  }

  .tracker-circle-selected {
    background-color: $oligrapher_blue;
  }
}

#oligrapher-container #oligrapher-annotations, #oligrapher-container #oligrapher-annotations-condensed {
  .oligrapher-annotations-hide {
    float: right;
    position: relative;
    top: 5px;
    cursor: pointer;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}

#oligrapher-container #oligrapher-annotations {
  border-left: 1px solid #eee;
  padding: 1em;
  padding-right: 0;
  margin-right: 15px;
  height: 100%;
  overflow-x: hidden;

  .oligrapher-annotations-header {
    font-size: 26px;
    font-weight: bold;
    margin-right: 1em;
  }

  .oligrapher-annotation {
    overflow-y: auto;
  }

  .oligrapher-annotation-header {
    font-size: 2em;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .oligrapher-annotations-actions button {
    margin-left: 0.5em;
  }

  .oligrapher-annotation-text {
    line-height: 1.3em;

    blockquote {
      color: #666;
      border-left: 5px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }
  }
}

#oligrapher-container #oligrapher-annotations-list {
  margin-top: 0.5em;
}

#oligrapher-container .annotation-list-item {
  padding: 0.5em;
  background-color: #fff;
  border-bottom: 1px solid #eee;

  &.annotation-list-item-current {
    background-color: #eee;
  }
}

#oligrapher-container #oligrapher-annotation-form {
  margin-top: 1em;

  .oligrapher-annotation-form-header {
    margin-bottom: 0.5em;
    width: 100%;

    .MuiInput-root {
      border-color: #ccc;
      font-size: 10px;
      width: 100%;
    }
  }

  .oligrapher-annotation-form-text {
    margin-bottom: 0.5em;
  }

  .ck-content {
    height: 150px;
  }

  input {
    padding: 0;
  }

  #oligrapher-annotation-form-header {
    font-size: 2em;
  }

  #oligrapher-annotation-form-text {
    font-size: 0.9em;
  }

  .oligrapher-annotation-highlighting-tip {
    background-color: #ffe;
    padding: 0.7em;
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em;

    button {
      margin-top: 0.8em;
      background-color: white;
    }
  }
}

#oligrapher-embed-form {
  padding: 0.8em;
  width: 500px;
  background-color: #f8f8f8;

  input {
    width: 50px;
  }

  textarea {
    width: 100%;
    margin-top: 0.8em;
    height: 100px;
    resize: none;
    padding: 0.5em;
    background-color: white;
    border: 1px solid #ccc;
  }
}

#oligrapher-container .add-connections-classic-button {
    margin-left: 1em;
}

#oligrapher-container .add-connections-classic-statusbox {
    margin-top: 2em;
}

#oligrapher-container .add-connections-classic-p {
    margin-top: 2em;
}
