.nodeLabel {
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
}

.nodeLabel:hover {
  text-decoration: none;
}

.edge text {
  display: none;
  font-family: Helvetica, Arial, sans-serif;
}

.edge:hover text {
  display: inline;
}

.edge:hover text.link {
  cursor: pointer;
}