//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

//.container {
//  @extend .row;
//}

.root{
  padding: 1em;
}

.graphContainer {
  width: 100%;
  height: 1000px;
  padding-bottom: 1em;
}

.searchContainer {
  @extend .col-md-3;
  float: right;
  margin: .5em;
  margin-top: 1em;
}

.searchForm {

  input[type='text'] {
    width: 15em;
  }
}

.searchResult {

}
